.playlist__list {
  display: flex;
  flex-wrap: wrap;
}

.playlist__item {
  width: calc((100% - 90px) / 4);
  margin-bottom: 30px;
  position: relative;
}

.playlist__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.playlist__h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.playlist__h3__link {
  transition-property: color, background-color, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
}

.playlist__h3__link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.playlist__h3__link:focus-visible {
  outline: none;
  color: #fff;
  background-color: var(--color-promo);
}

.playlist__h3__link:active {
  opacity: 0.5;
}

.playlist__img {
  width: 100%;
  margin-bottom: 20px;
}

.playlist__count {
  color: var(--color-greytxt);
  font-weight: bold;
}

@media (min-width: 1200px) {
  .playlist__h3__link:hover:not(:focus-visible) {
    color: var(--color-promo);
  }
}
@media (max-width: 1440px) {
  .playlist__h3 {
    font-size: 24px;
  }

  .playlist__item {
    width: calc((100% - 90px) / 4);
  }

  .playlist__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .playlist__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  .playlist__item {
    width: calc((100% - 60px) / 3);
  }

  .playlist__item:not(:nth-child(4n)) {
    margin-right: 0px;
  }

  .playlist__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .playlist__item {
    width: calc((100% - 30px) / 2);
  }

  .playlist__item:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .playlist__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .playlist__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
  }

  .playlist__item:not(:nth-child(2n)) {
    margin-right: 0px;
  }

  .playlist__img {
    margin-bottom: 0;
    margin-right: 20px;
    height: 100%;
    width: 99px;
  }

  .playlist__content {
    flex: 1;
  }

  .playlist__h3 {
    font-size: 18px;
  }

  .playlist__count {
    font-size: 12px;
  }
}
