.playlists-modal {
    max-width: 328px;
    max-height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: none;
    z-index: 10;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #AAAAAA;
  }
  
  .playlists-modal.show {
    display: block;
  }
  
  .playlists-modal__title {
    font-size: 20px;
    color: #11253D;
  }
  
  .playlists-modal__playlist {
    width: 288px;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .playlists-modal__playlist_content {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .playlists-modal__playlist__image {
    width: 40px;
    height: 40px;
    background: #AAAAAA;
    float: left;
  }
  
  .playlists-modal__playlist__title {
    padding-left: 10px;
    padding-top: 4px;
    width: 228px;
    font-size: 14px;
    color: #11253D;
    display: inline-block;
    transition: color var(--transition-duration) ease-in-out;
  }
  
  .playlists-modal__playlist__info {
    padding-left: 10px;
    padding-top: 4px;
    width: 228px;
    font-size: 12px;
    color: #AAAAAA;
    display: inline-block;
  }
  
  .playlists-modal__playlist:hover .playlists-modal__playlist__title {
    color: var(--color-promo);
  }
  
  .playlists-modal__footer {
    width: 114px;
    height: 32px;
    padding: 20px;
  }
  
  .playlists-modal__close-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #AAAAAA;
    color: #171717;
    font-size: 14px;
    width: 114px;
    height: 32px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
