.player {
  padding: 20px 50px;
  justify-content: space-between;
  gap: 20px;
}

.player__track-name {
  align-items: center;
  max-width: 388px;
  width: 100%;
}

.player__track__h3 {
  margin: 0;
  margin-right: 12px;
}

.player__track__author {
  margin: 0;
  color: var(--color-greytxt);
  font-size: 12px;
}

.player__track__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.player__name__header {
  align-items: center;
  margin-bottom: 10px;
}

.player__shaffle-btn svg,
.player__repeat-btn svg {
  width: 18px;
  height: 18px;
}

.player__controls {
  max-width: 902px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.player__controls__header {
  align-self: center;
  display: flex;
  align-self: center;
  margin-bottom: 6px;
}

.player__controls__header button:not(:last-child) {
  margin-right: 20px;
}

.player__controls__footer {
  display: flex;
  align-items: center;
}

.player__range-play {
  flex: 1;
  margin-right: 12px;
}

.player__value {
  align-self: flex-end;
}

.player__time-start {
  margin-right: 12px;
}

.player__value {
  display: flex;
  align-items: center;
}

.player__value svg {
  margin-right: 9px;
}

.player__value-range {
  width: 72px;
  height: 4px;
}

.player__controls .noUi-handle.noUi-handle-lower {
  display: none;
}

.player__controls .noUi-connects,
.player__value-range .noUi-connects {
  background-color: var(--color-greyDarkerbg);
}

.player__controls .noUi-horizontal,
.player__value-range .noUi-horizontal {
  height: 4px;
}

.player__controls .noUi-connect,
.player__value-range .noUi-connect {
  background-color: var(--color-promo);
}

.player__controls .noUi-target,
.player__value .noUi-target {
  box-shadow: none;
  border: none;
}

.player__value .noUi-handle.noUi-handle-lower {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--color-promo);
  box-shadow: none;
  border: 0;
  transform: translate(-50%, calc(50% - 4px));
}

.player__value .noUi-handle.noUi-handle-lower:before,
.player__value .noUi-handle.noUi-handle-lower:after {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 105;
  border-top: 1px solid var(--color-greytxt);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

@media (max-width: 992px) {
  .player__value {
    display: none;
  }
}

@media (max-width: 768px) {
  .player {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .player__shaffle-btn,
  .player__skipback-btn,
  .player__skipnext-btn,
  .player__repeat-btn {
    display: none;
  }

  .player {
    position: relative;
  }

  .player__play-btn {
    position: absolute;
    top: 14px;
    right: 16px;
  }

  .player__controls__header button:not(:last-child) {
    margin: 0;
  }

  .player__track-name {
    max-width: 100%;
    padding-right: 50px;
  }

  .player {
    padding: 14px 16px;
  }
}
